
a:hover{
    color: red;
    
}
a:visited{
    color: chartreuse;
}
a{
    font-size: larger;
}
body{
    max-width: 90%;
    margin: auto;  
    background: -webkit-linear-gradient(-83deg, rgb(237, 22, 135), rgb(20, 90, 80));
    background: linear-gradient(-83deg, rgb(237, 22, 135), rgb(20, 90, 80));
    background-image: url(./pain.jpeg);
    background-position: bottom right;
    background-size: cover;
    background-repeat: no-repeat;
    
}
blockquote{
    max-width: 45%;
    margin: auto;
    font-size: 160%;
    background-color: lightgray;
    border-left: 3px  solid;
    border-color: firebrick;
    padding: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    font-style: italic;
}
.chinese-farmer{ font-style: italic;

}
.villager{
border-left-style: dashed;
border-color: black;
}
.farmer{
    border-left-style: dashed;
    border-color: brown;

}
header > h1 {
    background-color: yellow;
}
.bad{
    color: red;
    text-transform: uppercase;
}
.good{
    color: green;
    text-transform: uppercase;
    
}
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}
.first_p{
    font-weight: bold;
    color: darkgoldenrod;
}
.second_p{
    font-family: serif;
    font-size: 18px;
    color: darkgoldenrod;
    word-spacing: 5px;
}
.pouce_bien::after{
content: url(./bien.png);
top: 15 px;
background-repeat: no-repeat;
position: relative;

}
.pouce_mal::after{
content: url(./mal.png);
background-repeat: no-repeat;
bottom: 15px;
}
.cats::after{
content: url(./chat.png);
background-repeat: no-repeat;
bottom: 15px;
}